h1{
    color: lightblue;
    text-align: center;
    border-top: lightcyan solid 3px ;
    border-bottom: rgb(157, 218, 223) solid 3px;
}
section{
    text-align: justify
}
body{
    background: lightcoral;
    
}
span{
    color: lightcyan;
    font-weight: bold;
}
a{
    color: lightblue;
}
table{
    /* border-color: lightskyblue;
    border-width: 5px;
    border-style: dotted; */
    border-collapse: collapse;
    width: 300px;
}
td{
    border: lightskyblue dotted 5px; 
}