.title{
    text-align: center;
}
.enlaces {
    display: flex;
    justify-content: space-around;
}
.back,button{
    text-decoration: none;
    color: black;
    padding: 0.3em 1em;
    border: solid 0.1em black;
    border-radius: 40%;
}

.list{
  text-align: center;
}
.list__item{
    list-style: none;
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 2fr 2fr ;
    margin: 2em 0em;
}

form{
    margin: 5%;
    display: flex;
    justify-content: center;
    align-items: center
    
}
form input{
    margin: 0 0.5em
}
.option{
    width: 60%
}
.option__item{
    margin: 1em 0em;
    display: flex;
    justify-content: space-between;
}
.option__item input, select{
   width: 70%;
   border-radius: 5%;
   height: 2em;
}
.inactivo{
    color: red;
}